@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap");
* {
  box-sizing: border-box;
  font-family: "Righteous";
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  width: 100%;
  min-height: 100vh;
  background-color: rgb(245, 245, 245);
}

// DRY
h1 {
  font-size: 3.5em;
}
h2 {
  font-size: 2.7em;
}
h3 {
  font-size: 2em;
}
p {
  font-size: 1.25em;
}
ul {
  list-style: none;
}
li {
  font-size: 1em;
}
a {
  text-decoration: none;
}

button {
  cursor: pointer;
  background-color: #83be0d;
  border: 2px solid #fff;
  border-radius: 20px;
  width: fit-content;
  display: block;
  margin: 20px auto;
  padding: 10px 22px;
  font-size: 16px;
  color: #fff;
  position: relative;
  z-index: 10;
  transition: 0.6s;
}
button:hover {
  background-color: #fff;
  color: #007abd;
  scale: 1.2;
}

// Estilo barra de navegacion
.contenedor {
  max-width: 1000px;
  margin: auto;
}
header {
  background-color: #007abd;
  border-bottom: 5px solid #d2d2d2;
  position: fixed;
  width: 100%;
  z-index: 100;
  .contenedor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      padding: 15px 30px;
      font-weight: bold;
      font-size: 1.75em;
      a {
        color: #83be0d;
      }
    }
    .abrirMenu {
      margin: 0;
      margin-right: 20px;
      padding: 5px 10px;
      ion-icon {
        font-size: 1.5em;
      }
    }
    nav.visible {
      display: flex;
      position: fixed;
    }
    nav {
      display: none; // Cambiar a flex para modificar.
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding-bottom: 25px;
      position: absolute;
      background-color: #006094;
      top: 0;
      right: 0;
      padding: 2em;
      bottom: 0;
      z-index: 500;
      box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
      a {
        color: #fff;
        padding: 1px 12px;
        margin: 15px 0;
      }
      a:hover {
        color: #fff;
        background: #83be0d;
        border-radius: 15px;
      }
      .cerrarMenu {
        margin: 0;
        margin-bottom: 15px;
        padding: 5px 10px;
        ion-icon {
          font-size: 1.5em;
        }
      }
    }
  }
}

// Estilos Banner
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 90vh;
  color: #fff;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../img/banner/zyro-image\ \(1\).png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

// Estilos Categoria Productos
.inicio {
  .contenedor {
    text-align: center;
    padding: 40px 10px;
    background-color: rgb(245, 245, 245);
    h2 {
      letter-spacing: 3px;
      padding-bottom: 40px;
    }
    .categoriaProductos {
      .productos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
        cursor: pointer;
        transition: 0.6s;
        img {
          width: 90%;
        }
        p {
          font-size: 2em;
          font-weight: bold;
        }
      }
      .productos:hover {
        scale: 1.1;
      }
    }
  }
}

// Estilos Nosotros
.nosotros {
  .contenedor {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #007abd;
    .imgNosotros {
      img {
        width: 100%;
      }
    }
    .infNosotros {
      padding-top: 30px;
      h2,
      p {
        color: #fff;
        padding: 15px;
      }
    }
  }
}

// Estilos nuestros productos
.nuestrosProductos {
  .contenedor {
    padding: 40px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(245, 245, 245);
    h2 {
      padding: 20px 0;
    }
    .productoPrincipal {
      background-color: #007abd;
      margin-bottom: 15px;
      border-radius: 15px;
      img {
        width: 100%;
        border-radius: 15px 15px 0 0;
      }
      .infPrincipal {
        h3,
        p {
          color: #fff;
          padding-bottom: 8px;
        }
      }
    }
    .ordenSecundarios {
      background-color: none;
      margin-bottom: 15px;
      border-radius: 15px;
      .productosSecundarios {
        background-color: #006094;
        margin: 5px;
        border-radius: 15px;
        img {
          width: 100%;
          border-radius: 15px 15px 0 0;
        }
        .infSecundaria {
          padding-bottom: 5px;
          h3,
          p {
            color: #fff;
            padding-bottom: 8px;
          }
        }
      }
    }
    .ordenTerceros {
      background-color: none;
      margin-bottom: 15px;
      border-radius: 15px;
      .productosTerceros {
        background-color: #006094;
        margin: 5px;
        border-radius: 15px;
        img {
          width: 100%;
          border-radius: 15px 15px 0 0;
        }
        .infTerceros {
          padding-bottom: 5px;
          h3,
          p {
            color: #fff;
            padding-bottom: 8px;
          }
        }
      }
    }
  }
}

// Estilos footer
footer {
  background-color: #007abd;
  border-top: 5px solid #83be0d;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: end;
  ul {
    display: flex;
    li {
      padding: 15px;
      ion-icon {
        font-size: 50px;
        color: #fff;
        cursor: pointer;
        transition: 0.6s;
      }
      ion-icon:hover {
        scale: 1.2;
      }
    }
  }
}
@media (min-width: 720px) {
  header {
    position: fixed;
    width: 100%;
    z-index: 100;
    .contenedor {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      .abrirMenu,
      .cerrarMenu {
        display: none;
      }
      nav {
        display: flex;
        flex-direction: row;
        padding-bottom: 0;
        position: relative;
        padding: 0;
        box-shadow: none;
        background-color: #007abd;
      }
    }
  }
  .inicio {
    .contenedor {
      width: 100vw;
      height: 80vh;
      .categoriaProductos {
        display: flex;
        justify-content: center;
        .productos {
          width: 40%;
        }
      }
    }
  }
  .nosotros {
    background-color: #007abd;
    .contenedor {
      display: flex;
      flex-direction: row;
      height: 100%;
      .imgNosotros {
        width: 100%;
      }
      .infNosotros {
        width: 100%;
        padding-top: 0;
      }
    }
  }
  .nuestrosProductos {
    .contenedor {
      .productoPrincipal {
        display: flex;
        border-radius: 15px;
        img {
          width: 70%;
          border-radius: 15px 0 0 15px;
        }
        .infPrincipal {
          padding: 8px;
          h3 {
            padding-top: 8px;
          }
        }
      }
      .ordenSecundarios {
        display: flex;
        background: none;
        .productosSecundarios {
          margin: 5px;
          background-color: #007abd;
          border-radius: 15px;
          h3 {
            padding-top: 8px;
          }
        }
      }
      .ordenTerceros {
        display: flex;
        background: none;
        .productosTerceros {
          margin: 5px;
          background-color: #007abd;
          border-radius: 15px;
          h3 {
            padding-top: 8px;
          }
        }
      }
    }
  }
}
